@import 'setup';
$sansFont: 'Montserrat', sans-serif;
$serifFont: 'Droid Serif', serif;
$pink: #edceb6;
$bodyColor: #888888;
$black: #1b1b1b;

////// GENERAL STYLES //////

html {
	font-size: 62.5%;
}

body {
	color:$bodyColor;
	line-height: 2.5rem;
}

p {
	font-family: $serifFont;
	font-size: 1.3rem;
}

a {
	text-decoration: none;
	color: white;
}

nav,
button,
h2,
h3,
h4,
h5
.blogDate,
footer {
	font-family: $sansFont;
	letter-spacing: 2px;
	color: $black;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}

h3 {
	text-transform: uppercase;
	padding: 2% 0;
	font-size: 1.4rem;
}

h4 {
	text-transform: uppercase;
	font-size: 1.5rem;
}

.wrapper {
	max-width: 1000px;
	width: 70%;
	margin: 0 auto;
	padding: 5% 0;
}

img {
	width: 100%;
}

////// HEADER STYLES //////

header {
	background-image: url(../assets/header_slider.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 3%;
	margin-top: 1%;

	.logo {
		flex: 1 0 20%;
	}

	ul {
		display: flex;
		flex: 1 0 80%;
		list-style: none;
		justify-content: flex-end;
	}

	li,
	a {
		color: white;
		text-transform: uppercase;
		font-size: 1.2rem;
		text-decoration: none;
		padding: 0 0.5rem;
		transition: 0.3s;

		&:hover {
			color: $pink;
		}
	}

	.fa {
		font-size: 1.8rem;
		padding: 0 1rem;
		transition: 0.3s;

		&:hover {
			cursor: pointer;
			color: $pink;
		}
	}
}

.navSmallScreen {
	display: none;
	position: relative;
	z-index: 10;
}

.logoOnly {
	width: 100px;
}

.headerTitle {
	margin: 8vh auto;
	text-align: center;

	img {
		display: block;
		margin: auto;
	}

	p {
		font-style: italic;
		margin: 3% auto;
		text-shadow: 1px 1px 5px grey;
		font-size: 1.6rem;
	}
}

img.logoImg {
	width: 20%;
}

img.logoText {
	width: 60%;
}

.divider {
	width: 10%;
	height: 5px;
	background-color: white;
	margin: 0 auto 2% auto;
}

.button {
	width: 200px;
	font-size: 1.4rem;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 2% 1%;
	font-family: $sansFont;
	border: 1px solid white;
	transition: all 0.3s;
	text-align: center;

	&:hover {
		color: white;
		background-color: $pink;
		border: 1px solid $pink;
	}
}

////// HISTORY STYLES //////

.history {
	text-align: center;
}

.iconDivider {
	width: 50%;
	height: 2px;
	margin: 5% auto;
	background-color: lightgrey;
	text-align: center;
}

.headingDivider {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1% auto 4%;
}

.portfolio .headingDivider {
	margin-bottom: 1%;
}

.iconDividerLeft,
.iconDividerRight{
	width: 20%;
	height: 2px;
	background-color: lightgrey;
}

.mooseDivider {
	max-width: 40px;
	margin: 0 5px;
}

.contentImg {
	width: 100%;
	height: 400px;
	background-image: url(../assets/second_header2.jpg);
	background-size: cover;
	background-position: center;
}

.contentHistory {
	width: 80%;
	background-color: white;
	margin: 0 auto;
	text-align: center;
	padding: 5%;
	box-shadow: 0 2px 15px lightgrey;
	position: relative;
	top: -100px;
}

.buttonWork {
	border: 1px solid $black;
	margin-top: 5%;
	color: $black;
}

////// PAGES STYLES //////

.pages .wrapper {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
	padding-top: 0;
}

.element {
	width: 33.3%;
	padding: 3%;
}

.element1,
.element2,
.element3 {
	border-bottom: 1px solid lightgrey;
}

.element1,
.element2,
.element4,
.element5 {
	border-right: 1px solid lightgrey;
}

.pagesIcon {
	width: 21px;
	height: 20px;
}

.elementBrand .pagesIcon {
	padding-bottom: 3.5%
}

////// PORTFOLIO STYLES //////

.portfolio {
	text-align: center;
}

.subtitle {
	font-style: italic;
}

.portfolioGrid {
	margin-top: 5%;
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

	figure {
		width: calc(100% / 3 - 1%);
		background-size: cover;
		background-position: center bottom;
		position: relative;
	}

	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.8);
		width: 100%;
		height: 100%;
		color: white;
		padding-top: 20%;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;

		.fa {
			font-size: 2rem;
			color: $black;
			background-color: white;
			padding: 8px;
		}

		h3 {
			color: white;
			padding: 25px 0 0;
		}

		p {
			font-style: italic;
			font-size: 1.1rem;
			padding: 0;
		}
	}

	figure:hover figcaption {
		visibility: visible;
		opacity: 1;
		cursor: pointer;
	}
}

.portImg1 {
	background-image: url(../assets/grid_01.jpg);
	height: calc(100% / 3 - 1%);
}

.portImg2 {
	background-image: url(../assets/grid_02.jpeg);
	height: calc(100% / 3 * 2 - 0.5%);
}

.portImg3 {
	background-image: url(../assets/grid_03.jpg);
	height: calc(100% / 3 - 1%);
}

.portImg4 {
	background-image: url(../assets/grid_04.jpg);
	height: calc(100% / 3 - 1%);
}

.portImg5 {
	background-image: url(../assets/grid_05.jpeg);
	height: calc(100% / 3 - 1%);
}

.portImg6 {
	background-image: url(../assets/grid_06.jpeg);
	height: calc(100% / 3 * 2 - 0.5%);
}

.portImg7 {
	background-image: url(../assets/grid_07.jpeg);
	height: calc(100% / 3 - 1%);
}

.buttonPort {
	border: 1px solid $black;
	margin: 5% auto;
	color: $black;
	display: none;
}

////// STATS STYLES //////

.stats {
	background-image: url(../assets/mountains_hero.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	color: white;
	
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
	}
}

.statNumber {
	font-size: 3.5rem;
	font-family: $sansFont;
	padding-bottom: 3rem;
	position: relative;

	&:after {
		content: "";
		width: 30%;
		height: 1.5px;
		position: absolute;
		bottom: 15%;
		left: calc(50% - 15%);
		background-color: white;
	}
}

.statText {
	font-style: italic;
	font-size: 1.5rem;
}

////// BLOG STYLES //////

.blog .wrapperPosts {
	display: flex;
	justify-content: space-between;
	padding-top: 0;
	width: 100%;
}

.blogDate {
	font-size: 1.2rem;
}

.blogPost {
	width: 49%;
}

.blogSide {
	width: 49%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blogPostSide {
	display: flex;
	flex-direction: row;
	height: 33%;
	justify-content: space-between;
}

.blogPostSideImg {
	width: 48%;
}

.blogPostSideContent {
	width: 48%;
	height: 100%;
}

.blogDate {
	font-family: $sansFont;
	color: $black;
}

.hiddenPost {
	display: none;
}

.buttonBlog {
	border: 1px solid $black;
	margin: 5% auto;
	color: $black;
	display: none;
}

////// NEWSLETTER STYLES //////

.newsletter {
	background-color: #F9F9F9;
	
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	p {
		font-style: italic;
	}
}

h5 {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: $black;
}

form {
	width: 50%;
}

.formEmail {
	width: 70%;
	height: 40px;
	padding: 0 15px;
	font-size: 1.3rem;
	font-family: $serifFont;
	font-style: italic;
	margin: 0;
	background-color: #F9F9F9;
	border: 1px solid $bodyColor;
}

.formSubmit {
	width: 20%;
	margin-left: 10px;
	border: 1px solid $black;
	height: 40px;
	background-color: $black;
	color: white;
	font-family: $sansFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s;

	&:hover {
		background-color: $pink;
		border: 1px solid $pink;
		color: #F9F9F9;
	}
}

////// FOOTER STYLES //////

footer {
	background-color: #222222;
	color: white;
	font-family: $sansFont;

	.wrapper {
		display: flex;
		flex-direction: row;
		max-height: 500px;
		justify-content: space-between;
	}

	h4 {
		color: white;
		padding-bottom: 18%;
	}

	p,
	li {
		color: $bodyColor;
		font-family: $sansFont;
		line-height: 2rem;
		font-size: 1.2rem;
	}

	.fa {
		color: $bodyColor;
		font-size: 2rem;
	}
}

.footerMission,
.footerServices,
.footerOffice {
	width: 24%;
}

.socialIcons {
	padding-top: 10%;

	.fa {
		padding-right: 10px;
		transition: all 0.3s;

		&:hover {
			color: white;
			cursor: pointer;
		}
	}
}

.footerTags {
	width: 25%;
}

.footerTags p {
	border: 1px solid $bodyColor;
	padding: 5px 10px;
	margin: 2px;
	text-align: center;
	font-size: 1rem;
	display: inline-block;
	float: left;
	transition: all 0.3s;

	&:hover {
		color: white;
		border: 1px solid white;
		cursor: pointer;
	}
}

.footerServices li {
	list-style: none;
	padding-bottom: 5px;
	transition: all 0.3s;

	&:hover {
		cursor: pointer;
		color: white;
	}
}

.footerOffice p,
.footerOffice .fa,
.footerOffice a {
	color: white;
	transition: all 0.3s;
}

.officeDetail {
	display: flex;
	justify-content: space-between;
	padding-bottom: 3%;
	
	p {
		width: 90%;
	}

	.fa {
		width: 2%;
	}

	.fa-paper-plane {
		font-size: 1.4rem;
	}
}

a.emailLink:hover {
	color: $pink;
}

.copyright {
	background-color: #111111;
	text-align: center;

	p {
		font-family: $sansFont;
		text-transform: uppercase;
		padding: 1% 0;
		letter-spacing: 1px;
	}
}

////// RESPONSVE STYLES //////

// BLOG BREAK
@media (max-width: 1245px) {
	.blogSide,
	.blogPostSide {
		display: block;
	}

	.blogPost2 {
		.blogPostSideImg,
		.blogPostSideContent {
			width: 100%;
		}
	}

	.hiddenPost {
		display: inline;
	}

	.buttonBlog {
		display: block;
	}

	.blogPost3,
	.blogPost4 {
		display: none;
	}
}

// PORTRAIT TABLET AND SMALL DESKTOPS

@media (max-width: 940px) {
//History
	.contentImg {
		height: 250px;
	}

//Pages
	.element {
		width: 50%;
	}

	.element2,
	.element4 {
		border-right: none;
	}

	.element3 {
		border-right: 1px solid lightgrey;
	}

	.element4 {
		border-bottom: 1px solid lightgrey;
	}

//Newsletter
	.newsletter .wrapper {
		display: block;
	}

	.newsletter h5,
	.newsletter p {
		text-align: center;
	}

	.newsletter h5 {
		font-size: 1.5rem;
		letter-spacing: 3px;
	}

	form {
		width: 100%;
		margin-top: 2%;
		text-align: center;
	}

	.formEmail {
		width: 100%;
		margin-bottom: 3%;
	}

	.formSubmit {
		width: 40%;
	}

//Footer
	footer .wrapper {
		flex-wrap: wrap;
	}

	.footerMission,
	.footerTags,
	.footerServices,
	.footerOffice {
		width: 45%;
	}

	footer h4 {
		padding: 5% 0;
	}
}

// NAVIGATION BREAK

@media (max-width: 900px) {

	nav .logo {
		flex: 1 0 100%;
		text-align: center;
	}

	.navSmallScreen {
		display: inline-block;
		color: white;
		width: 100%;
		text-align: center;
		font-size: 2.5rem;
		margin: 1% 0;

		.fa {
			padding: 0 1%;
			transition: all 0.3s;

			&:hover {
				cursor: pointer;
			}
		}
	}

	ul.mainNav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding-top: 30vh;
		background: rgba(237, 206, 182, 0.9);
		flex-flow: column wrap;
		text-align: center;
		justify-content: flex-start;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;
		transform: scale(1.5);
	}

	ul.mainNav.show {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		z-index: 10;
	}

	.bull,
	.listSearch {
		display: none;
	}

	ul.mainNav a {
		font-size: 3rem;

		&:hover {
			color: white;
			border-bottom: 3px solid white;
			padding-bottom: 5px;
		}
	}

	ul.mainNav li {
		padding-bottom: 4%;
		width: 100%;
	}
}

// LANDSCAPE PHONE TO PORTRAIT TABLET

@media (max-width: 730px) {
//Header
	.headerTitle p {
		width: 50%;
	}

//History
	.contentHistory {
		top: -150px;
	}

	.history .wrapper {
		padding-bottom: 0;
	}

//Pages

	.element {
		width: 100%;
		border-right: none;
	}

	.element5 {
		border-bottom: 1px solid lightgrey;
	}

//Portfolio
	.portfolioGrid {
		height: 60vh;
	}

	figure.portImg1,
	figure.portImg2,
	figure.portImg3,
	figure.portImg4 {
		width: calc(50% - 1%);
		height: calc(50% - 1%);
	}

	figure.portImg5,
	figure.portImg6,
	figure.portImg7 {
		display: none;
	}

	.portfolioGrid figcaption {
		padding-top: 30%;
	}

	.buttonPort {
		display: block;
	}

//Stats
	.stats {
		display: none;
	}
}

// LANDSCAPE PHONES AND DOWN

@media (max-width: 480px) {
//Section margins
	.history,
	.pages,
	.portfolio,
	.blog {
		margin: 20% auto;
	}

//History
	.contentImg {
		height: 150px;
	}

	.contentHistory {
		width: 100%;
		top: 0;
		box-shadow: 0 2px 2px lightgrey;
	}

//Pages
	.element {
		transition: all 0.3s;

		&:hover {
			background-color: $pink;
			cursor: pointer;
		}
	}

	.element h3 {
		font-size: 1.2rem;
	}

	.element p {
		display: none;
	}

	.element p.show {
		display: block;
	}

//Portfolio
	.portfolioGrid {
		height: 40vh;
	}

	.portfolioGrid figcaption {
		padding: 15%;

		.fa {
			font-size: 1.5rem;
			padding: 2%;
		}

		h3 {
			padding-top: 8%;
			line-height: 100%;
			font-size: 1.2rem;
			letter-spacing: 1px;
		}

		p {
			font-size: 0.8rem;
		}
	}

//Blog
	.wrapperPosts {
		flex-wrap: wrap;
	}

	.blogPost,
	.blogSide {
		width: 100%
	}

	.blogSide {
		margin: 15% 0 10%;
	}

//Footer
	footer p, 
	footer li {
		font-size: 1rem;
	}

	footer h4 {
		font-size: 1.3rem;
	}

	.footerMission {
		width: 100%;
		text-align: center;
	}

	.socialIcons {
		padding-top: 5%;
	}

	.footerTags {
		display: none;
	}

	.officeDetail p {
		width: 80%;
	}

	.copyright p {
		font-size: 0.6rem;
	}
}